name: Run Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: backend/package-lock.json
      - name: Install Dependencies
        working-directory: ./backend
        run: npm ci
      - name: Generate Prisma Client
        working-directory: ./backend
        run: npx prisma generate
      - name: Run Tests
        working-directory: ./backend
        run: NODE_OPTIONS="--experimental-vm-modules" npm test

  test-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json
      - name: Install Dependencies
        working-directory: ./frontend
        run: npm ci
      - name: Run Tests
        working-directory: ./frontend
        run: npm test
